<div class="card mt-5">
  <div class="card-body">
    <h6 class="text-center">Lista de Produtos</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let produto of listaProdutos">
          <td>{{produto.nome}}</td>
          <td>{{produto.categoria}}</td>
          <td>{{produto.localidade}}</td>
          <td>{{produto.preco}}</td>
          <td>
            <a class="btn btn-secondary text-white mr-2" (click)="editar(produto)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger text-white" (click)="deletar(produto.$id)"><i class="fa fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>